
/*TODO: Create index.css for main styles across pages
        Add change of color when hover/ click navigation bar
        Add image gallery with thumbnails
        Play with gradient on home page buttons
        

*/


h1 {
    color: #000;
    font-size: 60px;
    font-family: shadow;
    padding: 2%;
    margin: 1rem;
    text-align: center;
    min-width: 600px;
    margin-bottom: 0;
}

.download p{
    font-family: sour;
    font-size: 20px;
}

.download-pic{
    margin-top: 1rem;
}

.name-download{
    background-color: var(--ltmain);
    line-height: 3ch;
}

.download{
    display: flex;
    color: var(--main);
    justify-content: center;
    margin-top: 0;
}

h2 {
    background-color: var(--ltmain);
    color: #000;
    font-family: shadow;
    font-size: 26px;
    padding: 2%;
    margin: 1rem;
    text-align: center;

}

h2 a {
    font-size: 24px;
    font-family: sour;
    color: var(--main);
    text-decoration: none;
    font-weight: 300;
}

.bg {
    background-image: url("./assets/images/graffiti.png");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--main);
    padding: 1%;
    animation: appear 5000ms ease-in;
    box-shadow: 10px 5px 5px #000;
    background: radial-gradient(var(--main) 70%, var(--secondary));
    opacity: 0.9;
    justify-content: space-evenly;
}

.textbox h1 {
    flex-basis: 50%;
}

.textbox h2 {
    flex-basis: 35%;
}

@keyframes appear {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.button {
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #971fa1;
    width: 80vw;
    padding: 0;
    width: 100%;
}

#exp,
#edu,
#achieve,
#ref {
    border-radius: 1rem;
    margin: 1rem;
    min-width: 250px;
    min-height: 220px;
    box-shadow: 5px 10px 10px 1px #706f6f;
    background: linear-gradient(var(--secondary) 40%, #fff, var(--secondary));
    opacity: 0.8;
    font-family: sour;
    font-size: 24px;
    align-content: center;
     
}

.button a {
    color: #000;
    text-decoration: none;
}

.button img {
    display: flex;
    align-items: center;
    margin: 1rem auto 2rem;
    border-radius: 1rem;
    width: 150px;
}


h3 {
    color: #000;
    font-size: 40px;
    font-family: shadow;
    text-align: center;
    padding: 0.5rem;
    background: radial-gradient(var(--ltmain), var(--accent));
}


.highlight-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

section {
    min-width: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.education,
.achievements {
    background-color: var(--ltmain);
    font-family: sour;
    text-align: center;
    box-shadow: 2px 2px 20px var(--main);

}

h4{
    margin-top: 0;
}
.education h4,
.achievements h4 {
    font-size: 26px;
    background-color: var(--main);
    padding: 1.5rem;
}

.experience {
    background-color: #f7f3f7;
    font-family: sour;
    text-align: center;
    box-shadow: 2px 2px 20px var(--secondary);
}

.experience h4 {
    font-size: 26px;
    background-color: var(--secondary);
    padding: 1.5rem;
}

p {
    padding: 0.5rem;
    font-size: 18px;
}

.footer-text{
    color: #000;
    font-size: 24px;
    font-family: sour;
    text-align: center;
}


.footer {
    margin: 1% 40% 1% 40%;
    text-align: center;
    background-color: var(--ltmain);
    opacity: 0.85;
}

footer {
    text-align: center;
    background-image: url(./assets/images/graffiti.png);
}

footer a {
    color: var(--main);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media (min-width:850px) and (max-width: 1220px){
 
    h2 {
        min-width: 600px;
    }
    
    h2 a {
        text-decoration: underline; 
    }
    
    .bg {
        min-height: 550px;
    }
    
    
    .textbox {
        padding: 1% 0;
        width: 80%;
    }

  
    ul.button{
        padding-left: 0;
    }


    section {
        margin: 0 0 1rem 0;
        min-width: 400px;
    }

    .education,
    .achievements,
    .experience {
        box-shadow: 1px 1px 8px var(--main);
        background-color: var(--ltmain);
    }

    h4 {
        font-size: 26px;
        background-color: var(--main);
        padding: 0.5rem;
        font-weight: 600;
    }

    p {
        padding: 0.1rem;
        font-size: 20px;
    }


    footer {
        background-image: url(./assets/images/graffiti.png);
        display: flex;
        justify-content: center;
    }

    p {
        display: none;
    }

    footer a {
        display: none;
    }
}

@media (min-width:401px) and (max-width: 849px){
 header{
    font-size: 48px;
 }

   h1, h2{
    min-width: 80%;
   }
    
    h2 a {
        text-decoration: underline; 
    }
    
    .bg {
        min-height: 500px;
    }
    
    
    .textbox {
        padding: 1% 0;
        width: 90%;
    }
    
    ul.button{
        padding-left: 0;
    }


    table {
        margin: 0 0 1rem 0;
        min-width: 400px;
    }

    h4,
    .achievements,
    .experience {
        box-shadow: 1px 1px 8px var(--main);
        background-color: var(--ltmain);
    }

    .education th,
    .achievements th,
    .experience th {
        background-color: var(--main);
        padding: 0.5rem;
        font-weight: 600;
    }

    footer {
        background-image: url(./assets/images/graffiti.png);
        display: flex;
        justify-content: center;
    }

    p {
        display: none;
    }

    footer a {
        display: none;
    }

}

@media (max-width: 400px) {
    header {
        font-size: 36px;
    }

    .bgcolor img {
        width: 80px;
    }

    .navigation {
        display: flex;
        margin: 0;
        padding-bottom: 0;
    }

    li {
        margin: 1rem 0rem;
        text-align: center;
    }

    ul.navigation {
        padding: 0;
    }

    nav a {
        background-color: #f7f3f7;
        padding: 1rem 1rem;
        margin: 0;
        border: none;
    }

    h1 {
        display: none;
    }

    h2 {
        font-family: shadow;
        font-size: 22px;
        padding: 2%;
        margin: 1rem;
        text-align: center;
    }

    h2 a {
        text-decoration: underline;
    }

    .bg {
        min-height: 300px;
    }

    #exp,
    #edu,
    #achieve,
    #ref {
        margin: 0.5rem;
        min-width: 40%;
        min-height: 150px;
        box-shadow: 5px 5px 10px #000;
        opacity: 0.9;
        font-size: 20px;
    
    }

    .button img {
        margin: 0.5rem;
        width: 120px;
        justify-content: center;
    }
    ul.button{
        padding-left: 0;
    }

    h3 {
        font-size: 36px;
    }

    table {
        margin: 0 0 1rem 0;
        min-width: 300px;
    }

    h4,
    .achievements,
    .experience {
        box-shadow: 1px 1px 8px var(--main);
        background-color: var(--ltmain);
    }

    .education th,
    .achievements th,
    .experience th {
        font-size: 20px;
        background-color: var(--main);
        padding: 0.5rem;
    }

    p {
        padding: 0.1rem;
        font-size: 16px;
    }

    footer {
        background-image: url(./assets/images/graffiti.png);
        display: flex;
        justify-content: center;
    }

    p {
        display: none;
    }

    footer a {
        display: none;
    }

}